---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset  "utf-8";
@import "config";

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}
::selection {
	background: #b3d4fc;
	text-shadow: none;
}
html {
	padding: 30px 10px;
	line-height: 1.4;
	color: $mainColor;
	background: $coloredBackgroundColor;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
html,
input {
	font-family: $mainFont;
}
body {
	max-width: 800px;
	_width: 800px;
	padding: 15px 10px 25px;
	border: 1px solid $borderColor;
	border-radius: 4px;
	margin: 0 auto;
	box-shadow: 0 1px 10px #a7a7a7, inset 0 1px 0 #fff;
	background: $backgroundColor;
}
h1 {
	margin: 0 10px;
	font-size: 40px;
	text-align: center;
}
h1 span {
	color: #bbb;
}
h3 {
	margin: 1.5em 0 0.5em;
}
p {
	margin: 1em 0;
}
ul {
	padding: 0 0 0 40px;
	margin: 1em 0;
}
li:empty {
	visibility: hidden;
}
li.chapter {
	list-style: none;
	font-size: 1.2em;
	margin-top: 1.2em;
	margin-bottom: 0.5em;
}
li.deck {
	margin-left: 2em;
}
.container {
	max-width: 750px;
	_width: 750px;
	margin: 0 auto;
}
