---
layout: microtypo
---
<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head_slides.html %}
  <body>
    <noscript>
      <h1>{{ page.title }}</h1>
      <ul>
        {% assign the_first_slide = page.slides | first %}
        {% assign the_first_path_array = the_first_slide.path | split:"/" %}
        {% assign previous_depth = 1 %}
        {% assign previous_root = the_first_path_array[3] %}

        {% for slide in page.slides %}

          {% assign the_path_array = slide.path | split:"/" %}
          {% assign the_depth = the_path_array | size %}
          {% assign the_root = the_path_array[3] %}

          {% if the_root != previous_root %}
            {% assign previous_root = the_root %}
            </ul><ul>
          {% elsif the_depth > previous_depth %}
            {% assign previous_depth = depth %}
            <ul>
          {% elsif the_depth < previous_depth %}
            {% assign previous_depth = depth %}
            </ul>
          {% endif %}

          <li>
            <a href="{{ slide.url | prepend: site.baseurl }}">{{ slide.title }}</a>
          </li>
        {% endfor %}
      </ul>
      <a href="{{ page.cursus.url | prepend: site.baseurl }}">Back</a>
    </noscript>
    <div class="reveal">
      <div class="slides">
        {% assign the_first_slide = page.slides | first %}
        {% assign the_first_path_array = the_first_slide.path | split:"/" %}
        {% assign previous_depth = 1 %}
        {% assign previous_root = the_first_path_array[3] %}

        {% for slide in page.slides %}

          {% assign the_path_array = slide.path | split:"/" %}
          {% assign the_depth = the_path_array | size %}
          {% assign the_root = the_path_array[3] %}

          {% if the_root != previous_root %}
            {% assign previous_root = the_root %}
            </section><section>
          {% elsif the_depth > previous_depth %}
            {% assign previous_depth = depth %}
            <section>
          {% elsif the_depth < previous_depth %}
            {% assign previous_depth = depth %}
            </section>
          {% endif %}

          {% include slide.html %}
        {% endfor %}
      </div>
    </div>

    <script src="{{ "/assets/revealjs/lib/js/head.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/revealjs/js/reveal.js" | prepend: site.baseurl }}"></script>
    <script>
      // Full list of configuration options available at:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: false,
        slideNumber: true,

        {%if page.transition %}
          transition: '{{page.transition}}',
        {% else %}
          transition: 'slide', // none/fade/slide/convex/concave/zoom
        {% endif %}
        // Optional reveal.js plugins
        dependencies: [
          { src: '{{ "/assets/revealjs/lib/js/classList.js" | prepend: site.baseurl }}', condition: function() { return !document.body.classList; } },
          { src: '{{ "/assets/revealjs/plugin/zoom-js/zoom.js" | prepend: site.baseurl }}', async: true },
          { src: '{{ "/assets/revealjs/plugin/notes/notes.js" | prepend: site.baseurl }}', async: true }
        ]
      });
    </script>

  </body>
</html>
