---
layout: microtypo
---
<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head_deck.html %}
  <body>
    <div class="reveal">
      {% assign slide=page %}
      {% include slide.html %}
      {% for item in slide.deck.slides  %}
        {% if item.deck.key == slide.deck.key and item.cursus.key == slide.cursus.key %}
          {% if item.title == page.title %}
            {% unless forloop.first %}
              {% assign prevurl = prev.url %}
            {% endunless %}
            {% unless forloop.last %}
              {% assign next = slide.deck.slides[forloop.index] %}
              {% assign nexturl = next.url %}
            {% endunless %}
          {% endif %}
          {% assign prev = item %}
        {% endif %}
      {% endfor %}
      {%if prevurl%}<a href="{{prevurl | prepend: site.baseurl}}">Previous</a>{% endif %}
      <a href="{{ page.deck.url | prepend: site.baseurl }}">Back</a>
      {%if nexturl%}<a href="{{nexturl | prepend: site.baseurl}}">Next</a>{% endif %}
    </div>
  </body>
</html>
